# Learning Objectives

###### Demonstrate how to connect to a database from a Jupyter notebook
###### Demonstrate how to create tables and insert data from Python
###### Demonstrate how to perform simplified database access from Python using SQL magic
###### Demonstrate writing SQL queries and retrieve result sets from Python
###### Describe concepts related to accessing Databases using Python

## MECHANISM

![](DBMS.JPG)

![](cursor.png)

In [ ]:
import sqlite3
# Create a SQL connection to our SQLite database
con = sqlite3.connect("portal_mammals.sqlite")
cur = con.cursor()
# The result of a "cursor.execute" can be iterated over by row
for row in cur.execute('SELECT * FROM surveys;'):
    print(row)
# Be sure to close the connection
con.close()

In [ ]:
import sqlite3
# Create a SQL connection to our SQLite database
con = sqlite3.connect("C:\\Users\\User\\Desktop\\dev\\kadb.db")
cur = con.cursor()
# The result of a "cursor.execute" can be iterated over by row
for row in cur.execute('SELECT * FROM movies;'):
    print(row)
# Be sure to close the connection
con.close()

In [ ]:
con = sqlite3.connect("C:\\Users\\User\\Desktop\\dev\\kadb.db")
cur = con.cursor()
for row in cur.execute('SELECT * FROM sqlite_sequence;'):
    print(row)
con.close()

In [ ]:
# Create a SQL connection to our SQLite database
import pandas as pd
con = sqlite3.connect("C:\\Users\\User\\Desktop\\dev\\kadb.db")
cur = con.cursor()
cur.execute('''
          INSERT INTO sqlite_sequence (name, seq)
          VALUES
                ("playlist1",20)               
          ''')
for row in cur.execute('SELECT * FROM sqlite_sequence;'):
    print(row)
# The result of a "cursor.execute" can be iterated over by row
cur.execute('SELECT * FROM sqlite_sequence;')
df = pd.DataFrame(cur.fetchall())
df
# Be sure to close the connection
#con.close()

In [ ]:
con.close()

In [ ]:
conn = sqlite3.connect('test_database1') 
c = conn.cursor()
c.execute('''
          CREATE TABLE IF NOT EXISTS items
          ([item_id] INTEGER PRIMARY KEY, [item_name] TEXT)
          ''')
          
c.execute('''
          CREATE TABLE IF NOT EXISTS prices
          ([item_id] INTEGER PRIMARY KEY, [price] INTEGER)
          ''')
                     
conn.commit()

df = pd.DataFrame(c.fetchall(), columns = ['item_name','price'])
print (df)

In [ ]:
conn = sqlite3.connect('test_database1') 
c = conn.cursor()
                   
c.execute('''
          INSERT INTO items (item_id, item_name)
                VALUES
                (1,'Microwave'),
                (2,'Oven'),
                (3,'Refrigerator'),
                (4,'Toaster'),
                (5,'Blender')
          ''')

c.execute('''
          INSERT INTO prices (item_id, price)
                VALUES
                (1,250),
                (2,700),
                (3,1200),
                (4,80),
                (5,300)
          ''')
conn.commit()

df = pd.DataFrame(c.fetchall(), columns = ['item_name','price'])
print (df)

In [ ]:
conn = sqlite3.connect('test_database1') 
c = conn.cursor()
                   
c.execute('''
          SELECT
          a.item_name,
          b.price
          FROM items a
          LEFT JOIN prices b ON a.item_id = b.item_id
          ''')

df = pd.DataFrame(c.fetchall(), columns = ['item_name','price'])
df

![](magic.jpeg)

# SQL MAGIC

###### Magic functions are pre-defined functions(“magics”) in Jupyter kernel that executes supplied commands.
###### There are two kinds of magics line-oriented and cell-oriented prefaced with % and %% respectively.

###### The ipython-sql library is loaded using the %load_ext iPython extension syntax

In [ ]:
%load_ext sql
%sql sqlite:///chinook.db

In [ ]:
%sql SELECT name FROM sqlite_master WHERE type='table'

In [ ]:
%sql SELECT name FROM sqlite_master WHERE type='table'

In [ ]:
%sql SELECT * FROM movies

In [ ]:
%%sql

CREATE TABLE Fam1(Name TEXT, Age INTEGER, Profession TEXT, Major TEXT);
INSERT INTO Fam1 (Name, Age) VALUES('Pam', 50);
INSERT INTO Fam1 (Name, Age) VALUES('Miranda', 32);
INSERT INTO Fam1 (Name, Age) VALUES('Pascal', 45);
INSERT INTO Fam1 (Name, Age) VALUES('Dave', 12);
INSERT INTO Fam1 (Name, Age) VALUES('Emmy', 23);

UPDATE Fam1 SET Profession='Unknown' WHERE Profession ISNULL

In [ ]:
%%sql
SELECT
    name
FROM
    sqlite_master
WHERE
    type='table'

In [ ]:
%sql SELECT * FROM sqlite_sequence

In [ ]:
%%sql

UPDATE sqlite_sequence SET seq=125 WHERE name='playlists'

In [ ]:
%%sql
SELECT * FROM sqlite_sequence

In [ ]:
import pandas as pd
result = %sql select * from movies
dataframe = result.DataFrame()
dataframe